/* Essential Styles for StoryBrandView extracted from provided professional CSS */

:root {
    --font: "Sandoll GothicNeoRound", "Pretendard", sans-serif;
    --bg-base: #f5ebdc;
    --bg-light: #fffcf8;
    --normal: #502314;
    --primary: #d62300;
    --light: #89665b;
}

.contentsWrap {
    position: relative;
    flex: 1;
    overflow: auto;
    padding: 20px 20px 0;
}

@media screen and (min-width: 640px) {
    .contentsWrap {
        padding: 30px 30px 0;
    }
}

@media screen and (min-width: 1024px) {
    .contentsWrap {
        padding: 40px 60px 0;
        overflow: initial;
    }
}

.card01 {
    position: relative;
    margin: 10px 0;
    padding: 20px;
    background: var(--bg-light);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}

.card01.intro_image {
    margin-top: 20px;
}

.card01.intro_image>.card_image_area {
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .card01 {
        padding: 40px;
    }

    .card01.intro_image {
        display: flex;
        padding: 30px;
        align-items: center;
    }

    .card01.intro_image .cont_group {
        flex: 1;
    }

    .card01.intro_image .card_image_area {
        width: calc(50% - 30px);
        margin: 0 0 0 60px;
    }

    .card01.break_web {
        padding: 30px;
    }
}

.card_image_area {
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    border-radius: 10px;
}

.card_image_area img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.info_section {
    font-size: .9375rem;
    color: var(--light);
    line-height: 1.47;
}

.info_section .tit_info {
    margin-bottom: 20px;
    text-align: center;
    font-family: BKR;
    font-style: normal;
    font-weight: 700;
    font-size: 1.0625rem;
    color: var(--normal);
    line-height: 1.4;
}

@media screen and (min-width: 1024px) {
    .info_section .card01.info {
        flex-direction: unset;
        gap: 60px;
    }

    .info_section .card01.info .detail .tit_info {
        font-size: 2.25rem;
        margin-bottom: 30px;
    }
}

.dlist01 {
    display: table;
    width: 100%;
    margin: 10px 0;
    font-size: .8125rem;
}

.dlist01 dl {
    display: table-row;
}

.dlist01 dd,
.dlist01 dt {
    display: table-cell;
    padding-bottom: 7px;
    vertical-align: top;
}

.dlist01 dt {
    text-align: left;
    width: 80px;
    padding-right: 20px;
    color: var(--light);
    white-space: nowrap;
}

.MOB {
    display: block !important;
}

.WEB {
    display: none !important;
}

@media screen and (min-width: 1024px) {
    .MOB {
        display: none !important;
    }

    .WEB {
        display: block !important;
    }
}

.txt_underline {
    display: inline;
    padding: 0 5px;
    line-height: 1.2;
    box-shadow: inset 0 -5px rgba(255, 0, 0, .2);
}

.map_w {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.map_placeholder {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    color: #666;
    border: 1px dashed #ccc;
}